* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  margin: 0;
}

#content {
  margin: 1ex;
}

a {
  text-decoration: none;
}

button, input {
  padding: 1.5ex;
}

button {
  cursor: pointer;
}

/* Navigation bar */

nav {
  align-items: center;
  background-color: #ffc8b1;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  display: inline-block;
  padding: 3ex;
}

.nav-item::first-letter {
  font-size: x-large;
}

.nav-item:hover {
  background-color: #dc8a67;
  color: white;
  cursor: pointer;
}

.logged-in-user {
  display: inline-block;
  margin-right: .5ex;
}

/* Recipe list */

.recipe-list-and-name {
  background-color: rgba(0, 0, 0, 0.05);
  margin: 2ex 0;
  padding: 2ex;
}

.recipe-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipe-tile {
  cursor: pointer;
  display: inline-block;
  margin: 1ex;
  overflow: hidden;
  padding: 1ex;
  text-align: center;
  text-overflow: ellipsis;
  width: 17ex;
}

.recipe-tile:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.recipe-tile img {
  background-color: #ddd;
  height: 15ex;
  object-fit: fill;
  width: 15ex;
}

.recipe-tile span {
  display: block;
}

.recipe-tile:hover .inline-delete {
  display: block;
}

.inline-delete {
  display: none;
  position: absolute;
  right: 7px;
  top: 7px;
}

h3.recipe-list-name {
  display: inline-block;
  font-size: x-large;
}

/* Recipe details page */

.recipe-header {
  display: flex;
}

.recipe-header h2 {
  display: inline-block;
}

.recipe-header img {
  height: fit-content;
  max-width: 50vw;
}

.recipe-source {
  margin-left: 1ex;
}

.recipe-header-text, .recipe-body {
  margin: 2ex;
}

.recipe-body li {
  margin: 1.5ex;
}

/* Login page */

.user-button {
  background-color: #ffc8b1;
  display: inline-block;
  margin: 1ex;
  padding: 2ex;
}

.user-button::first-letter, .logged-in-user::first-letter {
  text-transform: capitalize;
}