<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Realm</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="<%= bundleUrl %>" defer></script>
    <script>globalThis['recipeListData'] = "<%- recipeListData %>";</script>
    <script>globalThis['recipeDetailsData'] = "<%- recipeDetailsData %>";</script>
  </head>

  <body>
    <nav>
      <div id="nav-menu">
        <span class="nav-item" data-target="/">Home</span>
        <span class="nav-item" data-target="lists">My Lists</span>
      </div>
      <div id="nav-user">
        <% if (user) { %>
            <div>
              <span class="logged-in-user"><%= user %></span>
              <a class="nav-item" href="/logout">Log out</a>
            </div>
        <% } else { %>
            <a class="nav-item" href="/login">Log in</a>
        <% } %>
      </div>
    </nav>