<%- include('head.ejs') %>
<div id="content">
    <h2>Who are you?</h2>
    <% for (const user of availableUsers) { %>
        <a href="/logincallback/<%= user %>" class="user-button"><%= user %></a>
    <% } %>
</div>
<%- include('foot.ejs') %>
