<%- include('head.ejs') %>
<div id="content">
    <h2>Who are you?</h2>
    <a href="/logincallback/eiichiro">Eiichiro</a>
    <a href="/logincallback/akira">Akira</a>
    <a href="/logincallback/gosho">Gosho</a>
</div>
<%- include('foot.ejs') %>
