<%- include('head.ejs') %>
<div id="content">
    <h2>Who are you?</h2>
    <% for (const user of availableUsers) { %>
        <a href="/logincallback/<%= user %>" class="user-button"><%= user %></a>
    <% } %>
</div>
<script>
    // Detail: we are server-rendered but we still want to show where we are
    // in the nav bar.
    document.querySelector('[data-target="/login"]')?.classList.add('active');
</script>
<%- include('foot.ejs') %>
